:root {
  --primaryColor: #ff4d4f;
  --secondaryColor: #212C4A;
  --lightBg: #F2F2F4;
  --textColor: #555;
  --whiteColor: #fff;
  --transition01: .4s all;
  --borderRadiusCard: 10px;
  --borderRadiusBtn: 5px;
  --primaryFont: 'Josefin Sans', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  padding: 0;
  margin: 0;
  font-family: var(--primaryFont);
}

body * {
  box-sizing: border-box;
}

body {
  color: var(--whiteColor);
}

ul,
ol {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 1460px;
  padding: 0 50px;
  margin: 0 auto;
  width: 100%;
}

.sectionPadding {
  padding-block: 100px;
}

.ant-btn-primary {
  padding: 16.5px 32px;
  height: auto;
  font-size: 18px;
  line-height: normal;
  font-weight: 500;
  background: var(--primaryColor);
  border-radius: var(--borderRadiusBtn);
  color: var(--whiteColor);
  display: inline-block;
  transition: var(--transition01);
  box-shadow: 0 2px 0 rgba(255, 38, 5, 0.06);
  border: 1px solid var(--primaryColor);
}

.ant-btn-primary:hover {
  background-color: #ff7875;
  color: var(--whiteColor);
  border: 1px solid #ff7875;
}

h4.secondaryTitle {
  color: #ABAFBA;
  font-size: 22px;
}

h4.secondaryTitle span {
  color: var(--primaryColor);
}

h1.primaryTitle {
  color: var(--whiteColor);
  font-size: 40px;
  margin: 16px 0 !important;
}

h1.primaryTitle.blueColor,
h4.secondaryTitle.blueColor {
  color: var(--secondaryColor);
}

h1.primaryTitle.spaceBottom {
  margin-bottom: 60px !important;
}

h1.primaryTitle.spaceBottom02 {
  margin-bottom: 30px !important;
}

span.ant-typography {
  color: #FFFFFFB8;
  font-size: 18px;
}

span.ant-typography.textColor {
  color: var(--textColor);
}

.greyBg {
  background-color: var(--lightBg);
}


/* Header */
.site_header {
  padding-block: 32px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: var(--transition01);
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site_header ul {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.site_header ul a {
  color: var(--whiteColor);
  font-size: 18px;
  padding: 13px 16px 11px;
  transition: var(--transition01);
  border-radius: var(--borderRadiusBtn);
}

.site_header ul a:hover,
.site_header ul a.active {
  color: var(--primaryColor);
}

.site_logo a {
  color: var(--whiteColor);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 28px;
  font-weight: bold;
  padding-top: 4px;
}

.site_logo a span {
  color: var(--primaryColor);
}

.nav_menu>div {
  flex-basis: 200px;
}

.callLink {
  display: flex;
  align-items: center;
  column-gap: 16px;
  justify-content: flex-end;
}

.callNb {
  font-size: 22px;
  font-weight: 600;
  color: var(--whiteColor);
}

.callNb span {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: normal;
}

.callLink span.anticon {
  font-size: 30px;
  transform: rotate(90deg);
}


/* Sticky Header */
.sticky_header {
  background-color: var(--secondaryColor);
  padding-block: 16px;
}


/* Banner */
.banner {
  background: url(../../public/images/bg01.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 90px;
}

.banner::after {
  content: '';
  background: rgba(33, 44, 72, 0.9);
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
}

.banner .container {
  position: relative;
  z-index: 2;
}

.bannerContent .primaryTitle {
  font-size: 60px;
}

.bannerContent h1 span {
  letter-spacing: 2px;
  -webkit-text-stroke: 1px #E42C2C;
  -webkit-text-fill-color: #02010100;
}

.bannerContent span.ant-typography {
  color: #FFFFFFB8;
  font-size: 18px;
}

.bannerContent h4.secondaryTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bannerContent h4.secondaryTitle svg {
  width: 30px;
  height: 30px;
  animation: wave-animation 2.5s infinite;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg);
  }

  10% {
    transform: rotate(18.0deg);
  }

  20% {
    transform: rotate(-10.0deg);
  }

  30% {
    transform: rotate(18.0deg);
  }

  40% {
    transform: rotate(-6.0deg);
  }

  50% {
    transform: rotate(12.0deg);
  }

  60% {
    transform: rotate(0.0deg);
  }

  100% {
    transform: rotate(0.0deg);
  }
}

.bannerImg {
  position: relative;
}

.bannerImg .hiIcon {
  top: 5%;
  left: 0;
  display: flex;
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  position: absolute;
  align-items: center;
  animation: moveLeftRight 3s linear infinite;
}

@keyframes moveLeftRight {
  10% {
    transform: translateX(-6px);
  }

  33% {
    transform: translateX(0px);
  }

  67% {
    transform: translateX(6px);
  }

  100% {
    transform: translateX(0px);
  }
}


/* About Us Section */
.aboutContent span.ant-typography {
  color: var(--textColor);
}

.aboutImg img {
  border-radius: var(--borderRadiusCard);
}


/* Featured Section */
.featuredCard {
  display: flex;
  align-items: flex-start;
  background: var(--lightBg);
  border-radius: var(--borderRadiusCard);
  padding: 20px;
  flex-flow: wrap;
  column-gap: 20px;
  margin-top: 20px;
  height: calc(100% - 20px);
}

.featuredIcon {
  flex-basis: 60px;
}

.featuredContent {
  flex-basis: calc(100% - 80px);
}

.featuredContent h4.secondaryTitle {
  margin-bottom: 4px;
}

.featuredCard span.ant-typography {
  color: var(--textColor);
}


/* Service Section */
.serviceCard {
  background: var(--secondaryColor);
  padding: 35px 30px;
  border-radius: var(--borderRadiusCard);
}

.serviceCard h4.secondaryTitle {
  color: var(--whiteColor)
}

.serviceCard img {
  width: 60px !important;
}

.serviceCard .serviceIcon {
  margin-bottom: 32px;
}

.serviceCard .ant-btn-primary {
  background: transparent !important;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  border: none;
}

.serviceCard .ant-btn-primary:hover {
  color: var(--primaryColor) !important;
}

.serviceCard .ant-btn-primary span:first-child {
  width: 0;
  overflow: hidden;
  transition: var(--transition01);
}

.serviceCard:hover .ant-btn-primary span:first-child {
  width: 80px;
}


/* Choose Section */
.iconList {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  flex-flow: wrap;
  margin-top: 24px;
}

.iconListTxt h5.ant-typography {
  margin: 0;
  font-size: 18px;
  color: var(--secondaryColor);
}

.iconListIcon {
  flex-basis: 60px;
}

.iconListTxt {
  flex-basis: calc(100% - 80px);
}

.chooseContent span.ant-typography {
  color: var(--textColor);
}

.iconListTxt span.ant-typography {
  font-size: 16px;
  color: var(--textColor);
}


/* Our Project */
.projectCard {
  position: relative;
  overflow: hidden;
  height: 550px;
}

.projectCard .ant-image {
  height: 100%;
  width: 100%;
}

.projectCard .ant-image img {
  object-fit: cover;
  object-position: top;
  height: 500px;
  transition: 8s all ease;
}

.projectCard:hover .ant-image img {
  object-position: bottom;
}

.projectCard h5.ant-typography {
  margin: 0 !important;
  color: var(--whiteColor);
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: normal;
}

.projectCard h5.ant-typography span {
  color: var(--primaryColor);
}

.projectCard h4.secondaryTitle {
  color: var(--whiteColor);
}

.projectCard span.ant-typography {
  margin-top: 15px;
  display: block;
  border-top: 1px solid var(--textColor);
  padding-top: 10px;
}

.porjectCardOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: .4s;
  background-image: linear-gradient(180deg, #10152300 0%, #080A12 88%);
  z-index: 1;
}

.porjectContent {
  position: absolute;
  z-index: 9;
  bottom: -88px;
  padding: 20px;
  transition: var(--transition01);
}

.projectCard:hover .porjectContent {
  bottom: 0;
}

.projectCard .ant-btn-primary {
  position: absolute;
  top: 50%;
  z-index: 99;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.projectCard:hover .ant-btn-primary {
  opacity: 1;
}


/* Testimonial Section */
.slick-slider.testimonialSlider {
  max-width: 920px;
  margin: 0 auto;
}

.testimonialSlider .slick-dots li button {
  background: var(--primaryColor);
}

.testimonialSlider .slick-dots li.slick-active button {
  background: var(--primaryColor);
}

.testimonialSlider .slick-slide {
  text-align: center;
  padding-bottom: 40px;
}

.testimonialSlider .rating {
  margin-bottom: 10px;
}

.testimonialSlider span.ant-typography {
  color: var(--textColor);
  margin: 20px 0;
  display: block;
}

.testimonialSlider span.ant-typography.clientPosition {
  margin: -10px 0 0;
  font-size: 16px;
}


/* Contact Section */
.contactUs {
  background-image: url(/public/images/map.jpg);
  background-size: 100%;
  background-position: bottom;
  position: relative;
}

.contactUs::after {
  content: '';
  position: absolute;
  inset: 0;
  background: #f2f2f4eb;
}

.contactUs .container {
  position: relative;
  z-index: 2;
}

.contactList .iconListIcon {
  flex-basis: 40px;
}

.formStyle .ant-input {
  border: none;
  padding: 10px 16px;
}

.formStyle .ant-input:not(textarea) {
  height: 56px;
}

.contactList .iconList {
  margin-top: 0;
}

.contactList .iconList:not(:first-child) {
  margin-top: 45px;
}


/* Team Section */
.teamCard {
  background: var(--lightBg);
  /* box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.01); */
  border-radius: var(--borderRadiusCard);
  overflow: hidden;
  cursor: pointer;
}

.teamContent {
  padding: 20px;
}

.teamContent h4.secondaryTitle {
  margin: 0;
}

.teamImg {
  position: relative;
}

.teamCard .socialIcon {
  margin-top: 0;
  position: absolute;
  bottom: 0;
  padding: 12px 10px;
  background: var(--secondaryColor);
  border-radius: 6px 0 0 0;
  transition: var(--transition01);
  right: -100%;
  flex-direction: column;
}

.teamCard .socialIcon a {
  width: 32px;
  height: 32px;
  border: none;
}

.teamCard:hover .socialIcon {
  right: 0;
}


/* Footer */
.footer {
  background-color: var(--secondaryColor);
}

.socialIcon {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.socialIcon a {
  display: flex;
  align-items: center;
  background: transparent;
  width: 42px;
  height: 42px;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #454D5D;
  transition: var(--transition01);
}

.socialIcon a:hover {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
}

.footer .secondaryTitle {
  color: var(--whiteColor);
  margin-bottom: 30px;
}

.footerLinks a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: var(--whiteColor);
  transition: var(--transition01);
  padding-block: 4px;
}

.footerLinks a:not(:last-child) {
  margin-bottom: 20px;
}

.footerLinks a:hover {
  color: var(--primaryColor);
  margin-left: 5px;
}

.footer span.ant-typography {
  color: var(--whiteColor);
  font-size: 16px;
}

.copyRight {
  background: #141F3D;
  text-align: center;
  padding: 20px;
}


/* Inner Banner */
.innerBanner {
  height: 420px;
}

.innerBanner h1.primaryTitle {
  margin: 0 0 16px !important;
  font-size: 60px;
  text-transform: capitalize;
}

.aboutPage .featuredCard {
  background: var(--whiteColor);
}

/* .innerBanner .ant-breadcrumb ol {
  justify-content: center;
}

.innerBanner .ant-breadcrumb a {
  color: var(--whiteColor);
  font-size: 18px;
  display: flex;
}

.innerBanner .ant-breadcrumb-separator {
  color: var(--whiteColor);
  font-size: 20px;
}

.innerBanner .ant-breadcrumb span.ant-breadcrumb-link {
  color: #ABAFBA;
  font-size: 18px;
  text-transform: capitalize;
}

.innerBanner .ant-breadcrumb .ant-breadcrumb-link >.anticon+span {
  margin-inline-start: 6px;
} */

.breadcrumbWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.breadcrumbWrap a,
.breadcrumbWrap span:not(.anticon) {
  display: flex;
  color: var(--whiteColor);
  font-size: 18px;
  gap: 7px;
  text-transform: capitalize;
}

.breadcrumbWrap span:not(.anticon) {
  color: #ABAFBA;
}

.breadcrumbWrap a .anticon {
  font-size: 14px;
  margin-top: -5px;
}


/* Inner Pages */
.projectPage .projectSection {
  background-color: var(--whiteColor);
}

.aboutPage .aboutSection {
  background-color: var(--lightBg);
}

.aboutPage .chooseSection .ant-row {
  flex-direction: row-reverse;
}


/* Media Query */
@media (min-width: 992px) {
  .mobileToggle {
    display: none;
  }
}

@media (max-width: 1440.98px) {
  .bannerContent .primaryTitle {
    font-size: 46px;
  }

  h1.primaryTitle {
    font-size: 32px;
  }

  span.ant-typography {
    font-size: 16px;
  }

  h4.secondaryTitle {
    font-size: 20px;
  }

  .sectionPadding {
    padding-block: 80px;
  }
}

@media (max-width: 1199.98px) {
  .site_header ul {
    column-gap: 10px;
  }

  .nav_menu>div {
    flex-basis: inherit;
  }

  .bannerContent .primaryTitle {
    font-size: 40px;
  }

  h1.primaryTitle {
    font-size: 28px;
    margin: 8px 0 12px !important;
  }

  h4.secondaryTitle {
    font-size: 18px;
  }

  .iconListTxt h5.ant-typography {
    font-size: 16px;
  }

  .porjectContent {
    bottom: 0;
  }

  .projectCard .ant-btn-primary {
    opacity: 1;
  }

  .sectionPadding {
    padding-block: 70px;
  }

  .projectCard h5.ant-typography {
    font-size: 14px;
  }

  h1.primaryTitle.spaceBottom {
    margin-bottom: 40px !important;
  }

  .banner {
    height: 65vh;
  }

  .bannerImg .hiIcon {
    padding: 12px;
    width: 65px;
  }
}

@media (max-width: 991.98px) {
  .nav_menu {
    justify-content: flex-start;
    flex-flow: wrap;
  }

  .mobileToggle {
    width: 24px;
    height: 16px;
    position: relative;
    margin-left: 20px;
  }

  .mobileToggle span {
    background-color: var(--whiteColor);
    height: 2px;
    width: 20px;
    display: inline-block;
    position: absolute;
    right: 0;
    transition: var(--transition01);
    top: 7px;
  }

  .mobileToggle span:first-child {
    top: 0;
  }

  .mobileToggle span:last-child {
    top: 14px;
  }

  .site_header ul.show .mobileToggle {
    margin-left: auto;
    margin-right: 30px;
    position: absolute;
    right: 0;
    top: 34px;
  }

  .site_header ul a {
    padding: 20px 50px;
    border-radius: 0;
    display: inline-block;
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-align: center;
  }

  .site_header ul.show .mobileToggle span:nth-child(2) {
    display: none;
  }

  .site_header ul.show .mobileToggle span:last-child {
    top: 0;
    transform: rotate(-45deg);
  }

  .site_header ul.show .mobileToggle span:first-child {
    top: 0;
    transform: rotate(45deg);
  }

  .site_header ul {
    position: fixed;
    background: var(--secondaryColor);
    left: 0;
    top: -110%;
    height: 100%;
    max-width: 100%;
    width: 100%;
    padding-top: 50px;
    z-index: 99;
    display: block;
    transition: var(--transition01);
  }

  .site_header ul.show {
    top: 0;
  }

  .site_logo {
    margin-right: auto;
  }

  .nav_menu>div {
    flex-basis: inherit;
  }

  .container {
    padding: 0 30px;
  }

  .ant-btn-primary {
    padding: 14px 24px;
    font-size: 16px;
  }

  .sectionPadding {
    padding-block: 50px;
  }

  h1.primaryTitle.spaceBottom {
    margin-bottom: 30px !important;
  }

  .bannerContent .primaryTitle {
    font-size: 32px;
  }

  .banner {
    height: 65vh;
  }

  .footer .container .ant-row>div:nth-child(3),
  .footer .container .ant-row>div:nth-child(4) {
    margin-top: 30px;
  }

  .footer .secondaryTitle {
    margin-bottom: 20px;
  }
}

@media (max-width:767.98px) {
  h1.primaryTitle {
    font-size: 24px;
  }

  .callNb {
    font-size: 20px;
  }

  .callNb span {
    font-size: 14px;
    margin-bottom: 3px;
  }

  .callLink span.anticon {
    font-size: 26px;
  }

  .callLink {
    column-gap: 12px;
  }

  .banner {
    height: auto;
    padding-top: 110px;
    padding-bottom: 40px;
  }

  .banner .ant-row {
    flex-direction: column-reverse;
  }

  .footer .container .ant-row>div:nth-child(2) {
    margin-top: 30px;
  }

  .contactList,
  .chooseContent,
  .aboutContent,
  .bannerContent {
    margin-top: 30px;
  }

  .contactList .iconList:not(:first-child) {
    margin-top: 24px;
  }

  .footerLinks a {
    font-size: 15px;
    padding-block: 2px;
  }

  .bannerImg .hiIcon {
    padding: 8px;
    width: 55px;
  }
}